/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home Section */
#home {
    height: 320px;
    padding: 3px 28px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 17px;
}

/* Services Section */
#services {
    flex-direction: column;
}

#services .box {
    padding: 10px 3px;
    margin: 2px 0px;
}

/* Client Section */
#clients {
    flex-wrap: wrap;
}

#client-section::before {
    height: 50%;
}

#clients img {
    width: 60px;
    padding: 0px 5px;
    height: auto;
}

/* Contact Us Section */
#contact-box form {
    width: 80%;
}

#contact {
    margin-top: 24px;
}

/* Utility CLasses */
.h-primary {
    font-size: 26px;
}

.btn {
    font-size: 15px;
    padding: 4px 8px;
}